<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: common-header"/>

  <body>

  <div th:replace="common/navbar :: common-navbar"/>
    <div class="container">

      <div class="starter-template">
        <h1>WELCOME TO EZCARGO</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br>
            All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->

   <div th:replace="common/header :: common-foot-jquery-bootstrap"/>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Holder.js for placeholder images -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
  </body>
<li class="nav-item">
    <a class="nav-link" href="#">Link</a>
</li>
</html>


